<?xml version="1.0" encoding="utf-8"?>
<appsettings>
  <default>
    <firstrun>true</firstrun>
    <base />
  </default>
  <configs>
    <xml_function_list>function_list.dat</xml_function_list>
  </configs>
  <mebrowser>
    <host>oregonstate.edu</host>
    <remote>http://oregonstate.edu/~reeset/marcedit/tutorials/remote_tut.xml</remote>
    <local>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\configs\c_tut.dat</local>
  </mebrowser>
  <rss>
    <use_rss>yes</use_rss>
    <rss_feed>http://oregonstate.edu/~reeset/blog/feed/</rss_feed>
    <last_pub></last_pub>
    <hasViewed>no</hasViewed>
  </rss>
  <settings>
    <marcbreak>0</marcbreak>
    <mrcfile>1</mrcfile>
    <mrk8file>1</mrk8file>
    <mrkfile>1</mrkfile>
    <open></open>
    <save></save>
    <upgradeurl>http://oregonstate.edu/~reeset/marcedit/upgrade/current.txt</upgradeurl>
    <win_export>1</win_export>
    <!--Styles 0=Office 2002 look
		           1=Office 2003 look -->
    <Styles>0</Styles>
    <template>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\template\normal.mot</template>
    <win_preview>1</win_preview>
    <font_name>Arial Unicode MS</font_name>
    <language_pack>us-english.xml</language_pack>
  </settings>
  <font>
    <color>
      <red>0</red>
      <green>0</green>
      <blue>0</blue>
    </color>
    <name>Arial Unicode MS</name>
    <size>10</size>
  </font>
  <xslt>
    <marcxml>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\XSLT\MARC21slim2Mnemonic.xsl</marcxml>
    <namespace>1</namespace>
    <translations>
      <mods>
        <tomarc>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\XSLT\MODS2MARC21slim.xsl</tomarc>
        <toxml>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\XSLT\MARC21slim2MODS3.xsl</toxml>
      </mods>
    </translations>
  </xslt>
  <windowmetrics>
    <height></height>
    <width></width>
    <windowstate>
    </windowstate>
    <x></x>
    <y></y>
  </windowmetrics>
  <winsock>
    <host></host>
    <port></port>
    <timeout>30</timeout>
    <receipt>1</receipt>
  </winsock>
  <printer>
    <name>
    </name>
  </printer>
  <bib_help>
    <oclc>http://www.oclc.org/bibformats/en/{fieldgroup}/{field}.shtm</oclc>
    <lc>http://www.loc.gov/marc/bibliographic/ecbdcntr.html#mrcb{field}</lc>
  </bib_help>
  <recent>
    <file0>
    </file0>
    <file1>
    </file1>
    <file2>
    </file2>
    <file3>
    </file3>
    <file4>
    </file4>
    <file5>
    </file5>
    <file6>
    </file6>
    <file7>
    </file7>
    <file8>
    </file8>
  </recent>
  <replace>
    <total>-1</total>
  </replace>
  <edit_subfields>
    <total>-1</total>
  </edit_subfields>
  <MARCValidator>
    <Rules>C:\net_marcedit\C#\MProgram\MarcEdit\bin\Debug\configs\marcrules.txt</Rules>
  </MARCValidator>
</appsettings>